<footer>
    <div class="social">
        <a  class="x"href="#"><i class="fa-brands fa-facebook"></i></a>
        <a class="x" href="#"><i class="fa-brands fa-x-twitter"></i></a>
        <a class="x" href="#"><i class="fa-brands fa-instagram"></i></a>
    </div>

    <div class="company">&copy;WanderLust Private Limited</div>
    <div class="links">
        <a class="info" href="/privacy">Privacy</a>
        <a class="info" href="/terms">Terms</a>
        <a class="info" href="/site">Sitemap</a>
        <a class="info" href="details">Company Details</a>
    
        
    </div>
</footer>